
.position-all-presentation {
    position: absolute;
    // width: 58vh;
    // height: 26vh;
    top: 17.8vh;
    left: 35vh;
    border-radius: 12px;
    background-color: rgb(30, 31, 34);
}

.github-icon-verife2 {
    position: absolute;
    top: 21.1vh;
    left: 14.2vh;
    width: 1.8vh; 
}

.banner_profil-pres {
    position: absolute;
    width: 55vh;
    height: 7.4vh;
    top: 15vh;
    left: 33.2vh;
    background: #19385f;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}


.github-icon-verife3 {
    position: absolute;
    top: 21.1vh;
    left: 15.2vh;
    width: 1.8vh; 
}

.reseau-pos2 {
    position: absolute;
    top: 19.5vh;
    left: 32vh;
}

.positions-presen-spotify {
    position: absolute;
    left: 28vh;
}


.title-pres {
    position: absolute;
    white-space: nowrap;
    font-size: 2vh;
    top: 22.5vh;
    left: 36vh;
    color: #ffffff;
    font-family: "font-navbar";
}

.para-pres {
    position: absolute;
    white-space: nowrap;
    font-size: 1.5vh;
    top: 26.4vh;
    left: 38vh;
    color: #DCDDDE;
    font-family: "font-navbar";
}