
.spotify-text {
    position: absolute;

}

.spotify-icon {
    position: absolute;
    width: 2.5vh;
    top: 19vh;
    left: 25vh;
}

.spotify-pnl-logo {
    position: absolute;
    width: 7vh;
    top: 22vh;
    left: 1.8vh;
}


.spotify-pnl-logo:hover {
    opacity: 50%;
}

.spotify-title {
    position: absolute;
    font-size: 1.5vh;
    top: 20.6vh;
    left: 10vh;
    color: white;
    font-family: "font-navbar";
}

.spotify-dsc {
    position: absolute;
    white-space:nowrap;
    font-size: 1.3vh;
    top: 23.2vh;
    left: 10vh;
    font-family: "font-navbar";
    color: rgb(187, 187, 187);
}

.spotify-dsc-title {
    position: absolute;
    white-space:nowrap;
    font-size: 1.3vh;
    top: 25vh;
    left: 10vh;
    font-family: "font-navbar";
    color: rgb(187, 187, 187);
}

.spotify-play-pause {
    position: absolute;
    width: 25.8vh;
    height: 0.5vh;
    top: 30vh;
    left: 1.8vh;
    background-color: rgb(53, 46, 46);
    border-radius: 10px;

}

 .spotify-play-pause-1 {
    position: absolute;
    width: 15.8vh;
    height: 0.5vh;
    top: 30vh;
    left: 1.8vh;
    background-color: #ffffff;
    border-radius: 10px;
} 

.spotify-hourse {
    white-space:nowrap;
    position: absolute;
    font-family: "font-navbar";
    font-size: 1.1vh;
    top: 31vh;
    left: 1.8vh;
    color: #ffffff;
}

.spotify-hourse-1 {
    white-space:nowrap;
    position: absolute;
    font-family: "font-navbar";
    font-size: 1.1vh;
    top: 31vh;
    left: 25vh;
    color: #ffffff;
}


.spotify-play {
    white-space:nowrap;
    font-family: "font-navbar";
    position: absolute;
    top: 17.4vh;
    left: 1.8vh;
    font-size: 1.4vh;
    color: rgb(144, 145, 148);
}